<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pizza-Delivery</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@3.3.2/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/app.css">
</head>
<body>
<div class="container" id="container">
    <div class="logo-logo">
    <img src="https://thumbs.dreamstime.com/z/food-delivery-logo-design-template-134749604.jpg" class="logo" alt="logo">
    </div>
    <div class="nav">
        <ul class="nav-list">
            <li><a href="#" class="item">Menu</a></li>
            <li><a href="#" class="item">Offers</a></li>
            <li><a href="#" class="item">Register</a></li>
            <li><a href="#" class="item">Login</a></li>
            <li><a href="#"><img src="https://static.vecteezy.com/system/resources/previews/010/838/010/original/shopping-cart-icon-logo-illustration-trolley-cart-symbol-template-for-graphic-and-web-design-collection-free-vector.jpg" class="cart-img" alt=""></a></li>
        </ul>
    </div>
    <div class="heading">
       
       <h1 class="heading1">WELCOME TO PIZZATORIA! </h1> 
       <button class="order">Order Now!</button>
       <img src="/images/pizza.jpeg" class="pizza-img">
    </div>
</div>

<div class="veg" id="v">
    <h1 class="quote">Some People Eat to Live Some<span style="color: coral;"> Live to Eat!!</span></h1>
    <ul class="v-img-list">
        <li>
            <img src="#" alt="image1" class="img">
            <p class="time">Salad</p>
            <p class="time">₹89/-</p>
            <p class="link">
                <a href="#container" class="btn-v-img">Buy!</a>
            </p>
        </li>
        <li>
            <img src="#" alt="image2" class="img">
            <p class="time">Veg Thali</p>
            <p class="time">₹150/-</p>
            <p class="link">
                <a href="#container" class="btn-v-img">Buy!</a>
            </p>
        </li>
        <li>
            <img src="#" alt="image3" class="img">
            <p class="time">Chola Fry</p>
            <p class="time">₹100/-</p>
            <p class="link">
                <a href="#container" class="btn-v-img">Buy!</a>
            </p>
        </li>
        <li>
            <img src="#" alt="image4" class="img">
            <p class="time">Dosa</p>
            <p class="time">₹89</p>
            <p class="link">
                <a href="#container" class="btn-v-img">Buy!</a>
            </p>
        </li>
        <li>
            <img src="#" alt="image4" class="img">
            <p class="time">Pav Bhaji</p>
            <p class="time">₹79/-</p>
            <p class="link">
                <a href="#container" class="btn-v-img">Buy!</a>
            </p>
        </li>
        <li>
            <img src="#" alt="image4" class="img">
            <p class="time">Tawa Paneer Rice</p>
            <p class="time">₹100/-</p>
            <p class="link">
                <a href="#container" class="btn-v-img">Buy!</a>
            </p>
        </li>
    </ul>

    <ul class="v-img-list">
        <li>
            <img src="#" alt="image1" class="img">
            <p class="time">Pizza</p>
            <p class="time">₹149/-</p>
            <p class="link">
                <a href="#container" class="btn-v-img">Buy!</a>
            </p>
        </li>
        <li>
            <img src="#" alt="image2" class="img">
            <p class="time">Veg Pulao</p>
            <p class="time">₹100/-</p>
            <p class="link">
                <a href="#container" class="btn-v-img">Buy!</a>
            </p>
        </li>
        <li>
            <img src="#" alt="image3" class="img">
            <p class="time">Mixed Veg</p>
            <p class="time">₹100/-</p>
            <p class="link">
                <a href="#container" class="btn-v-img">Buy!</a>
            </p>
        </li>
        <li>
            <img src="#" alt="image4" class="img">
            <p class="time">Noodles</p>
            <p class="time">₹120/-</p>
            <p class="link">
                <a href="#container" class="btn-v-img">Buy!</a>
            </p>
        </li>
        <li>
            <img src="#" alt="image4" class="img">
            <p class="time">Aloo Jeera</p>
            <p class="time">₹100/-</p>
            <p class="link">
                <a href="#container" class="btn-v-img">Buy!</a>
            </p>
        </li>
        <li>
            <img src="#" alt="image4" class="img">
            <p class="time">Paneer Tikka</p>
            <p class="time">₹150/-</p>
            <p class="link">
                <a href="#container" class="btn-v-img">Buy!</a>
            </p>
        </li>
    </ul>
</div>
    <script src="/js/app.js"></script>
</body>
</html> 

