<section class="cart">
    <div class="order-container">
        <div class="cart-container">
         <img src="/images/order-cart.webp" class="order-cart-img" alt="">
         <p class="summary">Order Summary</p>
        </div>
                
        <div class="pizza-list">
             <div class="pizza-list-order">
                <img src="/images/pizza.jpeg" class="cart-pizza-img" alt="">
                <p class="cart-order-type">Marinara</p>
                <p class="cart-order-size">Medium</p>
                <p class="quantity">1 pcs</p>
                <p class="price">₹200</p>
             </div>
        </div>
    </div>

    <div class="reciept">
        <div class="total-amount">
            <p>Total Amount:<span style="color: coral;">  ₹200</span></p>
        </div>
        <div class="form">
            <form action="">
                <input class="add" type="text" placeholder="Address">
                <input class="add" type="text" placeholder="Mobile">
                <div>
                <!-- <button class="order-from-cart">Order Now!</button> -->
                </div>
            </form>
        </div>
        
        <button class="order-from-cart login-from-cart"><a href=""></a>Login to Continue!</button>
    </div>
    <!-- <div class="empty-cart">
        <h1 class="cart-heading">Sorry! Your Cart is Empty☹</h1>
        <p class="cart-msg">It seems that probably you have not added any item to your cart.Please go to Home page to Order Pizza.  </p>
        <img src="/images/cart-img.webp" class="cart-image">
        <a href="/"><button class="cart-btn">Go Back</button></a>
    </div> -->
</section>